<h1><%= t("layout.App") %></h1>
<p> <%= t(".hello") + @user.name %>,</p>

<p>
<%= t(".welcome") %>
</p>
<%= link_to t(".active"),
edit_account_activation_url(@locale,
@user.activation_token,
email: @user.email) %>
